@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}

body{
  background: rgb(255, 100, 100);
  overflow: hidden; 
}

.loading{
  cursor: wait !important;
}

.contain{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main{
    width: 80%;
    background: #fff;
    border-top: 10px solid red;
    color: #000;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #333 0px 0px 15px 0px;
}

.content{
  line-height: 20px;
  padding: 20px 30px;
}

form{
  width: 100%;
  margin: 10px 0;
}

input,
textarea{
  height: 20px;
  border: none;
  border-radius: 0;
  background: none;
  color: #000;
  padding: 5px 0;
  font-size: 16px;
  max-height: 100px;
}

input:focus,
textarea:focus{
  outline: none;
}

.inp{
  margin: 8px 0;
  position: relative;
  width: 50%;
}

input{
  border-bottom: 1px solid silver;
  width: 100%;
}

.underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inp input:focus ~ .underline:before,
.txtarea textarea:focus ~ .underline:before{
  transform: scaleX(1);
}

.txtarea{
  width: 100%;
  margin: 8px 0;
  position: relative;
}

.txtarea .underline{
  bottom: 5px;
}

textarea{
  height: 30px;
  resize: none;
  width: 100%;
  border-bottom: 1px solid silver;
}

button{
  cursor: pointer;
  background: red;
  color: #fff;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 50px;
}


/* reponsive */
@media only screen and (max-width: 739px){
  textarea{
    max-height: 40px;
  }

  .main{
    width: 95%;
  }

  .inp{
    width: 100%;
  }
}
